.wc-block-grid__products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 24px
}

.wc-block-grid__product {
    padding: 0 16px 0 0;
    margin: 0 0 24px;
    float: none;
    width: auto;
    position: relative;
    text-align: center
}

.wc-block-grid__product-link {
    text-decoration: none;
    border: 0
}

.wc-block-grid__product-image {
    text-decoration: none;
    margin-bottom: 16px;
    display: block
}

.wc-block-grid__product-image img {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto
}

.wc-block-grid__product-title {
    line-height: 1.2;
    font-weight: 700
}

.wc-block-grid__product-price,
.wc-block-grid__product-rating,
.wc-block-grid__product-title {
    margin-bottom: 12px;
    display: block
}

.wc-block-grid__product-add-to-cart,
.wc-block-grid__product-add-to-cart a {
    margin: 0;
    word-break: break-word;
    white-space: normal
}

.wc-block-grid__product-add-to-cart a.loading {
    opacity: .25;
    padding-right: 2.618em
}

.wc-block-grid__product-add-to-cart a.loading:after {
    font-family: WooCommerce;
    content: "\e01c";
    vertical-align: top;
    font-weight: 400;
    position: absolute;
    top: .618em;
    right: 1em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.wc-block-grid__product-add-to-cart a.added:after {
    font-family: WooCommerce;
    content: "\e017";
    margin-left: .53em;
    vertical-align: bottom
}

.wc-block-grid__product-add-to-cart .added_to_cart {
    text-align: center
}

.wc-block-grid__product-onsale {
    font-weight: 700;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: .75em;
    padding: .5em;
    z-index: 9;
    text-transform: uppercase
}

.wc-block-grid__product-rating .star-rating {
    overflow: hidden;
    position: relative;
    width: 5.3em;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    font-family: star;
    font-weight: 400;
    display: inline-block;
    margin: 0 auto
}

.wc-block-grid__product-rating .star-rating:before {
    content: "\53\53\53\53\53";
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: .5;
    color: #aaa
}

.wc-block-grid__product-rating .star-rating span {
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 1.5em
}

.wc-block-grid__product-rating .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: #000
}

.wc-block-grid.has-aligned-buttons .wc-block-grid__product {
    display: flex;
    flex-direction: column
}

.wc-block-grid.has-aligned-buttons .wc-block-grid__product-add-to-cart {
    margin-top: auto!important
}

.wc-block-grid.has-1-columns .wc-block-grid__products {
    display: block
}

.wc-block-grid.has-1-columns .wc-block-grid__product {
    margin-left: auto;
    margin-right: auto
}

.wc-block-grid.has-2-columns .wc-block-grid__product {
    flex: 1 0 50%;
    max-width: 50%
}

.wc-block-grid.has-3-columns .wc-block-grid__product {
    flex: 1 0 33.33333%;
    max-width: 33.33333%
}

.wc-block-grid.has-4-columns .wc-block-grid__product {
    flex: 1 0 25%;
    max-width: 25%
}

.wc-block-grid.has-5-columns .wc-block-grid__product {
    flex: 1 0 20%;
    max-width: 20%
}

.wc-block-grid.has-6-columns .wc-block-grid__product {
    flex: 1 0 16.66667%;
    max-width: 16.66667%
}

.wc-block-grid.has-7-columns .wc-block-grid__product {
    flex: 1 0 14.28571%;
    max-width: 14.28571%
}

.wc-block-grid.has-8-columns .wc-block-grid__product {
    flex: 1 0 12.5%;
    max-width: 12.5%
}

.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-5-columns:not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-6-columns:not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-7-columns .wc-block-grid__product,
.wc-block-grid.has-8-columns .wc-block-grid__product {
    font-size: .8em
}

.theme-twentysixteen .wc-block-grid .price ins {
    color: #77a464
}

.theme-twentynineteen .wc-block-grid__product {
    font-size: .88889em
}

.theme-twentynineteen .wc-block-grid__product-onsale,
.theme-twentynineteen .wc-block-grid__product-title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

.theme-twentynineteen .wc-block-grid__product-onsale {
    line-height: 1
}

.wc-block-featured-category {
    position: relative;
    background-color: #24292d;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    margin: 0 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center
}

.wc-block-featured-category .wc-block-featured-category__wrapper {
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center
}

.wc-block-featured-category.has-left-content {
    justify-content: flex-start
}

.wc-block-featured-category.has-left-content .wc-block-featured-category__description,
.wc-block-featured-category.has-left-content .wc-block-featured-category__price,
.wc-block-featured-category.has-left-content .wc-block-featured-category__title {
    margin-left: 0;
    text-align: left
}

.wc-block-featured-category.has-right-content {
    justify-content: flex-end
}

.wc-block-featured-category.has-right-content .wc-block-featured-category__description,
.wc-block-featured-category.has-right-content .wc-block-featured-category__price,
.wc-block-featured-category.has-right-content .wc-block-featured-category__title {
    margin-right: 0;
    text-align: right
}

.wc-block-featured-category .wc-block-featured-category__description,
.wc-block-featured-category .wc-block-featured-category__price,
.wc-block-featured-category .wc-block-featured-category__title {
    color: #fff;
    line-height: 1.25;
    margin-bottom: 0;
    text-align: center
}

.wc-block-featured-category .wc-block-featured-category__description a,
.wc-block-featured-category .wc-block-featured-category__description a:active,
.wc-block-featured-category .wc-block-featured-category__description a:focus,
.wc-block-featured-category .wc-block-featured-category__description a:hover,
.wc-block-featured-category .wc-block-featured-category__price a,
.wc-block-featured-category .wc-block-featured-category__price a:active,
.wc-block-featured-category .wc-block-featured-category__price a:focus,
.wc-block-featured-category .wc-block-featured-category__price a:hover,
.wc-block-featured-category .wc-block-featured-category__title a,
.wc-block-featured-category .wc-block-featured-category__title a:active,
.wc-block-featured-category .wc-block-featured-category__title a:focus,
.wc-block-featured-category .wc-block-featured-category__title a:hover {
    color: #fff
}

.wc-block-featured-category .wc-block-featured-category__description,
.wc-block-featured-category .wc-block-featured-category__link,
.wc-block-featured-category .wc-block-featured-category__price,
.wc-block-featured-category .wc-block-featured-category__title {
    width: 100%;
    padding: 0 48px 16px;
    z-index: 1
}

.wc-block-featured-category .wc-block-featured-category__title {
    margin-top: 0
}

.wc-block-featured-category .wc-block-featured-category__title:before {
    display: none
}

.wc-block-featured-category .wc-block-featured-category__description p {
    margin: 0
}

.wc-block-featured-category.has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    opacity: .5;
    z-index: 1
}

.wc-block-featured-category.has-background-dim.has-background-dim-10:before {
    opacity: .1
}

.wc-block-featured-category.has-background-dim.has-background-dim-20:before {
    opacity: .2
}

.wc-block-featured-category.has-background-dim.has-background-dim-30:before {
    opacity: .3
}

.wc-block-featured-category.has-background-dim.has-background-dim-40:before {
    opacity: .4
}

.wc-block-featured-category.has-background-dim.has-background-dim-50:before {
    opacity: .5
}

.wc-block-featured-category.has-background-dim.has-background-dim-60:before {
    opacity: .6
}

.wc-block-featured-category.has-background-dim.has-background-dim-70:before {
    opacity: .7
}

.wc-block-featured-category.has-background-dim.has-background-dim-80:before {
    opacity: .8
}

.wc-block-featured-category.has-background-dim.has-background-dim-90:before {
    opacity: .9
}

.wc-block-featured-category.has-background-dim.has-background-dim-100:before {
    opacity: 1
}

.wc-block-featured-category.alignleft,
.wc-block-featured-category.alignright {
    max-width: 305px;
    width: 100%
}

.wc-block-featured-category:after {
    display: block;
    content: "";
    font-size: 0;
    min-height: inherit
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wc-block-featured-category:after {
        content: none
    }
}

.wc-block-featured-category.aligncenter,
.wc-block-featured-category.alignleft,
.wc-block-featured-category.alignright {
    display: flex
}

.wc-block-product-categories {
    margin-bottom: 1em
}

.wc-block-product-categories.is-dropdown {
    display: flex
}

.wc-block-product-categories select {
    margin-right: .5em
}

.wp-block-woocommerce-product-categories.is-loading .wc-block-product-categories__placeholder {
    display: inline-block;
    height: 1em;
    width: 50%;
    min-width: 200px;
    background: currentColor;
    opacity: .2
}

.wc-block-product-categories__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    margin: 0;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    background: none;
    padding: 8px;
    color: #555d66;
    position: relative;
    overflow: hidden;
    border-radius: 4px
}

.wc-block-product-categories__button svg {
    fill: currentColor;
    outline: none
}

.wc-block-product-categories__button .screen-reader-text {
    height: auto
}

.wc-block-product-categories__button:active {
    color: currentColor
}

.wc-block-product-categories__button:disabled,
.wc-block-product-categories__button[aria-disabled=true] {
    cursor: default;
    opacity: .3
}

.wc-block-product-categories__button:focus:enabled {
    background-color: #fff;
    color: #191e23;
    box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff;
    outline: 2px solid transparent;
    outline-offset: -2px
}

.wc-block-product-categories__button:not(:disabled):not([aria-disabled=true]):hover {
    background-color: #fff;
    color: #191e23;
    box-shadow: inset 0 0 0 1px #e2e4e7, inset 0 0 0 2px #fff, 0 1px 1px rgba(25, 30, 35, .2)
}

.wc-block-product-categories__button:not(:disabled):not([aria-disabled=true]):active {
    outline: none;
    background-color: #fff;
    color: #191e23;
    box-shadow: inset 0 0 0 1px #ccd0d4, inset 0 0 0 2px #fff
}

.wc-block-product-categories__button:disabled:focus,
.wc-block-product-categories__button[aria-disabled=true]:focus {
    box-shadow: none
}

.wc-block-featured-product {
    position: relative;
    background-color: #24292d;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    margin: 0 0 1.5em
}

.wc-block-featured-product,
.wc-block-featured-product .wc-block-featured-product__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center
}

.wc-block-featured-product .wc-block-featured-product__wrapper {
    overflow: hidden;
    height: 100%
}

.wc-block-featured-product.has-left-content {
    justify-content: flex-start
}

.wc-block-featured-product.has-left-content .wc-block-featured-product__description,
.wc-block-featured-product.has-left-content .wc-block-featured-product__price,
.wc-block-featured-product.has-left-content .wc-block-featured-product__title,
.wc-block-featured-product.has-left-content .wc-block-featured-product__variation {
    margin-left: 0;
    text-align: left
}

.wc-block-featured-product.has-right-content {
    justify-content: flex-end
}

.wc-block-featured-product.has-right-content .wc-block-featured-product__description,
.wc-block-featured-product.has-right-content .wc-block-featured-product__price,
.wc-block-featured-product.has-right-content .wc-block-featured-product__title,
.wc-block-featured-product.has-right-content .wc-block-featured-product__variation {
    margin-right: 0;
    text-align: right
}

.wc-block-featured-product .wc-block-featured-product__description,
.wc-block-featured-product .wc-block-featured-product__price,
.wc-block-featured-product .wc-block-featured-product__title,
.wc-block-featured-product .wc-block-featured-product__variation {
    color: #fff;
    line-height: 1.25;
    margin-bottom: 0;
    text-align: center
}

.wc-block-featured-product .wc-block-featured-product__description a,
.wc-block-featured-product .wc-block-featured-product__description a:active,
.wc-block-featured-product .wc-block-featured-product__description a:focus,
.wc-block-featured-product .wc-block-featured-product__description a:hover,
.wc-block-featured-product .wc-block-featured-product__price a,
.wc-block-featured-product .wc-block-featured-product__price a:active,
.wc-block-featured-product .wc-block-featured-product__price a:focus,
.wc-block-featured-product .wc-block-featured-product__price a:hover,
.wc-block-featured-product .wc-block-featured-product__title a,
.wc-block-featured-product .wc-block-featured-product__title a:active,
.wc-block-featured-product .wc-block-featured-product__title a:focus,
.wc-block-featured-product .wc-block-featured-product__title a:hover,
.wc-block-featured-product .wc-block-featured-product__variation a,
.wc-block-featured-product .wc-block-featured-product__variation a:active,
.wc-block-featured-product .wc-block-featured-product__variation a:focus,
.wc-block-featured-product .wc-block-featured-product__variation a:hover {
    color: #fff
}

.wc-block-featured-product .wc-block-featured-product__description,
.wc-block-featured-product .wc-block-featured-product__link,
.wc-block-featured-product .wc-block-featured-product__price,
.wc-block-featured-product .wc-block-featured-product__title,
.wc-block-featured-product .wc-block-featured-product__variation {
    width: 100%;
    padding: 16px 48px 0;
    z-index: 1
}

.wc-block-featured-product .wc-block-featured-product__title,
.wc-block-featured-product .wc-block-featured-product__variation {
    margin-top: 0;
    border: 0
}

.wc-block-featured-product .wc-block-featured-product__title:before,
.wc-block-featured-product .wc-block-featured-product__variation:before {
    display: none
}

.wc-block-featured-product .wc-block-featured-product__variation {
    font-style: italic;
    padding-top: 0
}

.wc-block-featured-product .wc-block-featured-product__description p {
    margin: 0;
    line-height: 1.5em
}

.wc-block-featured-product.has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    opacity: .5;
    z-index: 1
}

.wc-block-featured-product.has-background-dim.has-background-dim-10:before {
    opacity: .1
}

.wc-block-featured-product.has-background-dim.has-background-dim-20:before {
    opacity: .2
}

.wc-block-featured-product.has-background-dim.has-background-dim-30:before {
    opacity: .3
}

.wc-block-featured-product.has-background-dim.has-background-dim-40:before {
    opacity: .4
}

.wc-block-featured-product.has-background-dim.has-background-dim-50:before {
    opacity: .5
}

.wc-block-featured-product.has-background-dim.has-background-dim-60:before {
    opacity: .6
}

.wc-block-featured-product.has-background-dim.has-background-dim-70:before {
    opacity: .7
}

.wc-block-featured-product.has-background-dim.has-background-dim-80:before {
    opacity: .8
}

.wc-block-featured-product.has-background-dim.has-background-dim-90:before {
    opacity: .9
}

.wc-block-featured-product.has-background-dim.has-background-dim-100:before {
    opacity: 1
}

.wc-block-featured-product.alignleft,
.wc-block-featured-product.alignright {
    max-width: 305px;
    width: 100%
}

.wc-block-featured-product:after {
    display: block;
    content: "";
    font-size: 0;
    min-height: inherit
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wc-block-featured-product:after {
        content: none
    }
}

.wc-block-featured-product.aligncenter,
.wc-block-featured-product.alignleft,
.wc-block-featured-product.alignright {
    display: flex
}